.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e0e0e0;  /* Cambia el color de fondo del contenedor principal si es necesario */
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  .cart-item img {
    /* Modifica el tamaño de las imágenes aquí */
    width: 150px;  /* Cambia este valor para ajustar el ancho de la imagen */
    height: 150px;  /* Cambia este valor para ajustar la altura de la imagen */
    margin-right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
  }
  
  .item-details {
    flex: 1;
  }
  
  .item-details h3 {
    margin: 0;
    font-size: 16px;
    color: #ff6600;  /* Naranja */
  }
  
  .item-controls {
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-left: 50px;
  }
  
  .item-button {
    background-color: #0052cc;
    color: #ff6600;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .item-button:disabled {
    background-color: #ddd;
  }
  
  .item-quantity {
    margin: 0 10px;
    font-size: 16px;
    color: #ff6600;  /* Naranja */
  }
  
  .item-price {
    font-size: 16px;
    color: #ff6600;  /* Naranja */
    margin-left: 80px;
  }
  
  .item-actions {
    display: flex;
    gap: 10px;
  }
  
  .item-actions button {
    background-color: transparent;
    border: none;
    color: #0052cc;
    cursor: pointer;
  }
  
  .cart-summary {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .cart-summary h2 {
    margin: 0 0 20px;
    font-size: 18px;
    color: #ff6600;  /* Naranja */
  }
  
  .summary-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .summary-details p {
    color: #ff6600;  /* Naranja */
  }
  
  .summary-details .label {
    color: #0c58a3;  /* Azul */
  }
  
  .total {
    font-weight: bold;
  }
  
  .checkout-button {
    background-color: #0052cc;  /* Naranja */
    color: #ff6600;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .checkout-button:hover {
    background-color: #0052cc;  /* Un tono más oscuro de naranja para el hover */
  }
  